<% include header %>
<div id="contact_form"></div>
	<script src="jsLogic.js"></script>
	</div>
	<table align = "center">
		<tr>
			<td><h2>Name</h2></td>
			<td><input  type="text"  required></td>
		</tr>
		<tr>
			<td><h2>University</h2></td>
			<td><input  type="text"  required></td>
		</tr>
		<tr>
			<td><h2>Email</h2></td>
			<td><input  type="email"  required></td>
		</tr>
		<tr>
			<td><h2>Problem description</h2></td>
			<td><textarea class="message" name="cd-textarea" id="cd-textarea" required></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><form onclick="formSubmit()" ><input type="button" align="center" value="Submit"></form>
			</td>
		</tr>
	</table>
	<h2 id="center">Contact Details</h2>
	<h3 id="center">Pradeep Vunnam</h3>
	<h3 id="center">S528182@mail.nwmissouri.edu</h3>
	<h3 id="center">Ph no: 660 528-0905</h3>
	<br>
	<br>
	<br>
	<br>
	<div class"container-fluid">
	<div class="row">
	<div class="col-sm-12>
		<h3 class="p" align = "center">Contact me through below <span style="color:blue">links<span></h3>
	</div>
	</div>
	</div>
	<table id = "tableFooter" align = center>
		<tr>
			<th><a href="https://www.facebook.com/pradeep.vunnam" class="fb" target="_blank"></a></th>
			<th><a href="https://www.linkedin.com/in/pradeepvunnam" class="li" target="_blank"></a></th>
			<th><a href="https://github.com/vunnamp" class="gh" target="_blank"></a></th>
			<th><a href="https://bitbucket.org/pradeepvunnam/" class="bb" target="_blank"></a></th>
		</tr>
	</table>
<% include footer %>