<% include header %>
<div class="container-fluid">
		<div class="row">	
			<div class="col-sm-12">
				<img src="img/MyPic.jpg" alt="MyPic"  id = "myPic" align= "center">
			</div>
			<div class="col-sm-12">
				<h1 id = "center">Hello !! Welcome to my page</h1>
				<ul>
					<li id = "brown"><h3>I am a graduate student at Northwest Missouri State University.</h3></li>
					<li id = "brown"><h3>I worked as an Systems-Analyst in development for Verizon for last 2 years.</h3></li>
					<li id = "brown"><h3>I intersested in the field of computer science and data sciences.</h3></li>
				</ul>
			</div>
			<div class="col-sm-12">
				<iframe width="350" height="230" align="right" src="https://www.youtube.com/embed/2k9MHT2tuUQ" frameborder="0" ></iframe>
			</div>
        </div>
    </div>
<% include footer %>