<div id ="footer">
	<p>Copyright © Pradeep Vunnam</p>
</div>
	<!-- /container -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="jsLogic.js"></script>
</body>
</html>